@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --background-color: #F8FAFC;
    --text-color: #1E1E1E;
    --primary-color: #5200BB;
    --primary-text-color: #F8FAFC;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}
